Q1.Write a program to convert specified days into years, weeks and days.
Take
user input.
Note: Ignore leap year.

In [46]:
# i_days = int(input("Enter the Days:- "))
# print("Enter the Days:-", i_days)

# Varshache_diwas = 365
# mahinyache_diwas = 30

# Varsh = i_days // Varshache_diwas
# rahilele_diwas = i_days % Varshache_diwas

# Mahina = rahilele_diwas // mahinyache_diwas
# Diwas = rahilele_diwas % mahinyache_diwas

# print("Vishay Khol")
# print(Varsh,"Varshe:",Mahina,"Mahine:",Diwas,"Diwas")

Enter the Days:- 900
Vishay Khol
2 Varshe: 5 Mahine: 20 Diwas

In [47]:
Given_days = int(input("Enter the Days:- "))
print("Enter the Days:-", Given_days)

days_in_year = 365
days_in_month = 30

Year = Given_days // days_in_year
Rem_Days = Given_days % days_in_year

Month = Rem_Days // days_in_month
Days = Rem_Days % days_in_month

print(Year ,"Year : ",Month ,"Months : ",Days ,"Days")

Enter the Days:- 900
2 Year :  5 Months :  20 Days

Q2. Write a Python program to input basiPython salary of an employee and

calculate its Gross salary according to following:

Basic Salary <= 10000 : HRA = 20%, DA = 80%

Basic Salary <= 20000 : HRA = 30%, DA = 90%

Basic Salary > 20000 : HRA = 35%, DA = 95%

In [48]:
Salary = int(input("Enter Salary:- "))
print("Enter Salary:- ",Salary)

if Salary <= 10000:
    G_Sal = Salary + 0.20 * Salary + 0.80 * Salary
    print(G_Sal)
elif Salary <= 20000:
    G_Sal = Salary + 0.30 * Salary + 0.90 * Salary
    print(G_Sal)
else:
    G_Sal = Salary + 0.35 * Salary + 0.95 * Salary
    print(G_Sal)

Enter Salary:-  15000
33000.0

Q3. Write a Python program to input electricity unit charges and calculate total
electricity bill according to the given condition:

For first 50 units Rs. 0.50/unit

For next 100 units Rs. 0.75/unit

For next 100 units Rs. 1.25/unit

For unit above 250 Rs. 1.50/unit

An additional surcharge of 17% is added to the bill

In [49]:
Electric_Units = int(input("Enter Units:- "))
print("Enter Units:- ", Electric_Units)

if Electric_Units <= 50:
    T_Bill = Electric_Units * 0.50 + 0.17 * Electric_Units
    print(T_Bill)
elif Electric_Units <= 150:
    T_Bill = Electric_Units * 0.75 + 0.17 * Electric_Units
    print(T_Bill)
elif Electric_Units <= 250:
    T_Bill = Electric_Units * 1.25 + 0.17 * Electric_Units
    print(T_Bill)
else:
    if Electric_Units > 250:
        T_Bill = Electric_Units * 1.50 + 0.17 * Electric_Units
        print(T_Bill)

Enter Units:-  56
51.52

Q4. Write a Python program to print the given number patterns.

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

In [50]:
rows = 6

for i in range(rows):
    for j in range(i):
        print(i, end = " ")
    print("")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

Q5. Write a Python program to calculate product of digits of a number. Read
value of n from user.

In [53]:
num = int(input("Enter Num :- "))
mul = 1

while num > 0:
    rem = num % 10
    mul = mul * rem
    num = num // 10
else:
    print(mul)

720

Q6. Create a list of elements like: x = [45, 67, 12, ‘Hello’, 23.45, ‘World’] and
oerform following
operations
1. Extract only string values from this list.

In [54]:
x = [45, 67, 12, "Hello", 23.45, "World"]
x
x[3:6:2]

['Hello', 'World']

2. Create a new list with strings in upper case.

In [55]:
j = [x[3],x[5]]
j
k = [n.upper() for n in j]
k

['HELLO', 'WORLD']

In [56]:
a = ["Sachin","Shrichand","Chandan","Ramkrushna","Atul","Ganesh"] 
b = [n.upper() for n in a]
b

['SACHIN', 'SHRICHAND', 'CHANDAN', 'RAMKRUSHNA', 'ATUL', 'GANESH']

3. Find the addition of integer values

In [57]:
x

[45, 67, 12, 'Hello', 23.45, 'World']

In [58]:
x1 = []
for i in x:
    if type(i) == int:
        x1.append(i)
print(x1)
sum(x1)

[45, 67, 12]

124

4. Check that the value 56 is present in it or not.

In [59]:
x

[45, 67, 12, 'Hello', 23.45, 'World']

In [60]:
56 in x

False

5. Print the list in reverse order.

In [61]:
x.reverse()
x

['World', 23.45, 'Hello', 12, 67, 45]

6. Delete the string ‘Hello’ from it.

In [62]:
x.pop(2)
x

['World', 23.45, 12, 67, 45]

7. Insert a new value of 36 at 5th position in list.

In [63]:
x.insert(5,36)
x

['World', 23.45, 12, 67, 45, 36]

In [64]:
x

['World', 23.45, 12, 67, 45, 36]

8. Count total number of elements in list now.

In [65]:
len(x)

6

9. Extract the values from 2nd index to 5th index.

In [66]:
x

['World', 23.45, 12, 67, 45, 36]

In [67]:
x[2:5]

[12, 67, 45]

10. Append [34, ‘Pune’] to this list.

In [68]:
x.append([34,'Pune'])
x

['World', 23.45, 12, 67, 45, 36, [34, 'Pune']]

11. Delete the last element from list.

In [69]:
x.pop()
x

['World', 23.45, 12, 67, 45, 36]

Q7. Create a tuple of elements with 5 float values in it and perform following
operations.

In [70]:
u = (40.14,22.92,84.62,69.69,96.96)
u

(40.14, 22.92, 84.62, 69.69, 96.96)

1. Print the data in sorted manner.

In [71]:
t = list(u)
t

[40.14, 22.92, 84.62, 69.69, 96.96]

In [72]:
t.sort()
t

[22.92, 40.14, 69.69, 84.62, 96.96]

In [73]:
sorted(t)

[22.92, 40.14, 69.69, 84.62, 96.96]

2. Check to see that the element 50 is present in it.

In [74]:
50 in t

False

3. Convert this tuple in set.

In [75]:
sets = set(t)
sets

{22.92, 40.14, 69.69, 84.62, 96.96}

Q8. Create a dictionary of elements: {‘a’: ‘apple’, ‘b’: ‘ball’, ‘c’: ‘cat’, ‘d’: ‘doll’, ‘k’:
‘king’} and
perform following operations.
1. Access the data at key ‘k’.
2. Add a new values ‘z’: ‘zebra’
3. Replace the contents of ‘d’ as ‘dog’
4. Print all the values from this dictionary.
5. Find the length of this dictionary.

In [76]:
D = {'a':'apple', 'b': 'ball', 'c': 'cat', 'd': 'doll', 'k':
'king'}
print(D)

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'doll', 'k': 'king'}

In [77]:
#Accessing the data at key "k".

D['k']

'king'

In [78]:
#Adding new Values 'z' = 'zebra'
D['z'] = 'zebra'
D

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'doll', 'k': 'king', 'z': 'zebra'}

In [79]:
#Replace the contents of 'd' as 'dog'

D['d'] = 'dog'
D

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog', 'k': 'king', 'z': 'zebra'}

In [80]:
#Print all the values of  dictionary

D.values()

dict_values(['apple', 'ball', 'cat', 'dog', 'king', 'zebra'])

In [81]:
#Find the Length of this Dictionary

len(D)

6

Q9. Write a program to find the second largest element in a list.

In [82]:
R = [45, 7, 18, 10, 17, 89, 56, 82]
R

[45, 7, 18, 10, 17, 89, 56, 82]

In [83]:
R.sort()
R

[7, 10, 17, 18, 45, 56, 82, 89]

In [84]:
R.reverse()
R

[89, 82, 56, 45, 18, 17, 10, 7]

In [85]:
R[1]

82

Q10. This is a list of some metallic elements.
metals = [ 'silver','gold', ... ]

Make a new list that is almost identical to the metals list: the new
contains the same items, in the same order, except that it does NOT
contain the item 'copper'.

In [87]:
Metal = ["Iron", "Steel", "Aluminium", "Silver", "Gold", "Copper", "Bronze"]
Metall = []

for i in Metal:
    if i != "Copper":
         Metall.append(i)
print(Metall)

['Iron', 'Steel', 'Aluminium', 'Silver', 'Gold', 'Bronze']