In [1]:
class Employee():
    pass

In [4]:
emp1 = Employee()   #Creating instance of the class
emp2 = Employee()
emp3 = Employee()

print(emp1)
print(emp2)
print(emp3)

<__main__.Employee object at 0x00000248261DDA10>
<__main__.Employee object at 0x0000024826194390>
<__main__.Employee object at 0x000002482614B410>

In [10]:
# Instance Variable 

emp1.first = "Alpit"
emp1.last = "Gadhave"
emp1.Salary = 50000

emp2.first = "Tejal"
emp2.last = "Shinde"
emp2.Salary = 52000

In [11]:
print(emp1.first)
print(emp2.first)
print(emp2.Salary)

Alpit
Tejal
52000

In [27]:
class Employee():
    def __init__ (self, first, last, Salary):
        self.first = first
        self.last = last 
        self.Salary = Salary

    def show(self):
        print(self.first + ' ' + 'Okk')

In [30]:
emp1 = Employee('Alpit','Gadhave', 60000)
emp2 = Employee('Tejas','Akare',80000)
emp3 = Employee('Karan','Pardeshi',70000)
emp4 = Employee('Aryan','Jadhav',60000)
emp5 = Employee('Tanya','Vadhav',40000)
emp6 = Employee('Tejyo','Shinde',45000)

print(emp1.first)
print(emp2.first)

Alpit
Tejas

In [31]:
emp1.show()

Alpit Okk

In [32]:
emp2.show()

Tejas Okk

## Encapsulation

In [56]:
class Employee1():
    def __init__ (self, first, last, Salary):
        self.first = first
        self.last = last 
        self.__Salary = Salary

    def show(self):
        print(self.first + ' ' + 'Okk')

    def show(self):
        print(self.__Salary)

In [57]:
emp1 = Employee1('Alpit','Gadhave', 60000)
emp2 = Employee1('Tejas','Akare',80000)
emp3 = Employee1('Karan','Pardeshi',70000)
emp4 = Employee1('Aryan','Jadhav',60000)
emp5 = Employee1('Tanya','Vadhav',40000)
emp6 = Employee1('Tejyo','Shinde',45000)

print(emp1.first)

print(emp2.first)

Alpit
Tejas

In [59]:
emp4.__Salary()

AttributeError: 'Employee1' object has no attribute '__Salary'

In [60]:
emp4.show()

60000

## Inheritence

In [61]:
class Emp2(Employee1):
    pass

In [63]:
emp9 = Emp2('Euuu','Euuuuu', 54655584)

emp9.show()

54655584

In [75]:
"""Create class called person 
attributes ==> namr, age, city.... [make use to default parameters also]
create a method which will show all the info of a person """

class Person():
    def __init__ (self,name,age,city):
        self.name = name 
        self.age = age
        self.city = city

    def show(self):
        print(self.name)

    def show(self):
        print(self.name,self.age,self.city)

In [76]:
name = "Alpit"
age = 18
city = "Pune"

In [77]:
Person1 = Person("Tejya", 17, "Manjarwadi")
Person1.show()

Tejya 17 Manjarwadi

In [78]:
"""Create class called person 
attributes ==> namr, age, city.... [make use to default parameters also]
create a method which will show all the info of a person """

class Person5():
    def __init__ (self, n, a= 25):
        self.name = n
        self.age = a

    def info(self):
        print("name",self.name)
        print('age',self.age)

In [81]:
P1 = Person5("Alpit")

P1.info()

name Alpit
age 25